.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 150px;
  height: auto;
}

.navigation-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}

.nav-link {
  margin-right: 20px;
}

.profile-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
}

.profile-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.navigation-links .nav-link button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease;
}

.navigation-links .nav-link button:hover {
  background-color: #f0f0f0;
}

.profile-button:hover {
  background-color: #f0f0f0;
}