.user-dropdown {
    position: absolute;
    top: 40px;
    right: 0;
    width: 280px;
    background: white;
    /* border-radius: 12px; */
    box-shadow: 0 2px 12px rgba(0,0,0,0.15);
    font-family: Helvetica, sans-serif;
    z-index: 9999;
    padding: 12px;
  }
  
  .user-dropdown-header {
    display: flex;
    gap: 12px;
    align-items: center;
    background-color: #1d1147;
    /* border-radius: 8px; */
    padding: 10px;
  }
  
  .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #e2e0dc;
  }
  
  .user-email {
    font-size: 12px;
    color: rgb(214, 213, 213);
    margin: 0;
  }
  
  .user-dropdown-section {
    margin-top: 12px;
    border-top: 1px solid #eee;
    padding-top: 10px;
  }
  
  .user-dropdown-item {
    padding: 8px 10px;
    cursor: pointer;
    font-size: 14px;
    /* border-radius: 6px; */
  }
  
  .user-dropdown-item:hover {
    background-color: #e2e0dc;
  }

  .user-dropdown-item a {
    text-decoration: none;
    color: #242424;
  }

  .user-dropdown-item:active a, .user-dropdown-item:hover a{
    text-decoration: none;
    color: #242424;
  }
  
  .dropdown-icon {
    margin-right: 8px;
    font-size: 16px;
    vertical-align: middle;
    color: #FF69FF
  }
  .user-avatar-icon {
    font-size: 40px;
    color: #FF69FF;
    background: #e2e0dc;
    border-radius: 50%;
    padding: 8px;
  }
  .user-name {
    color: #ffffff;
  }