<form method="post" action="/checkout">
    {{ form.csrf_token }}
    <div>{{ form.first_name.label }} {{ form.first_name() }}</div>
    <div>{{ form.last_name.label }} {{ form.last_name() }}</div>
    <div>{{ form.street_address.label }} {{ form.street_address() }}</div>
    <div>{{ form.zip_code.label }} {{ form.zip_code() }}</div>
    <div>{{ form.city.label }} {{ form.city() }}</div>
    <div>{{ form.country.label }} {{ form.country() }}</div>
    <div>{{ form.state.label }} {{ form.state() }}</div>
    <div>{{ form.payment_method.label }} {{ form.payment_method() }}</div>
    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}
    <div>{{ form.submit() }}</div>
    <div>{{ form.cancel() }}</div>
</form>